@use '../styles/variables' as *;

.appShell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-base;
  background-color: $color-bg-page;
}

.main {
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  flex: 1;

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-md;
  }
}
